body {
    background-color: #FFFFFF;
    color: rgba(117, 117, 117, 1);
}

/* Верхняя линия */
.logo-part1 {
    color: rgba(33, 150, 243, 1)
}

.logo-part2 {
    color: rgba(0, 0, 0, 1);
}

ul {
    list-style: none;
}

.site-nav .link {
    color: rgba(33, 33, 33, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: rgba(33, 150, 243, 1);
}

.auth .auth-link {
    color: rgba(117, 117, 117, 1);
}

.auth .auth-link:hover,
.auth .auth-link:focus {
    color: rgba(33, 150, 243, 1);
}


/* header: цвет в лого rgba(33, 150, 243, 1) rgba(0, 0, 0, 1);
цвет текста в навигации rgba(33, 33, 33, 1);
цвет текста в навигации при наведении rgba(33, 150, 243, 1)
цвет e-mail при наведении rgba(33, 150, 243, 1) без наведения rgba(117, 117, 117, 1)
цвет тел. rgba(117, 117, 117, 1)

Шапка: background-color: rgba(47, 48, 58, 1)
заголовок rgba(255, 255, 255, 1)
кнопка: шрифт rgba(255, 255, 255, 1), фон #2196F3

Особенности: заголовок h3 color: #212121;
текст: rgba(117, 117, 117, 1);; 

Чем мы занимаемся: Заголовок h2 rgba(33, 33, 33, 1) 
Наша команда: Заголовок h2 rgba(33, 33, 33, 1)
h3 rgba(33, 33, 33, 1)
текст rgba(117, 117, 117, 1)

Футер: цвет в лого rgba(33, 150, 243, 1) rgba(0, 0, 0, 1);
адрес rgba(255, 255, 255, 1)
e-mail rgba(255, 255, 255, 0.6)
тел. rgba(255, 255, 255, 0.6)

Основной цвет rgba(33, 33, 33, 1)
вторичный цвет rgba(117, 117, 117, 1)
акцент rgba(33, 150, 243, 1)
*/